<div class="login-container">
  {{#if errorMessage}}
  <div class="error-message bg-danger text-light">{{errorMessage}}</div>
  {{/if}}
  <form class="login-container__form" action="/login" method="post">
    <label class="login-container__form__label" for="email">Email</label>
    <input type="email" name="email" id="email" />
    <label class="login-container__form__label" for="password">Password</label>
    <input type="password" name="password" id="password" />
    <button class="login-container__form__log-in-button">Log in</button>
  </form>

  <p class="login-container__signup-question">Don't have an account yet?</p>

  <a href="/userSignup" class="login-container__signup-link" type="button">Create a new account</a>
</div>