<div class="home-container">
  <header class="home-container__header">
    <h2>Get your costs under control!</h2>
    <p>Easily and efficiently manage your company's expenses.</p>
  </header>
  <section class="home-container__cta">
    <a class="home-container__cta__link" href="/signup">Sign up</a>
    <a class="home-container__cta__link" href="/login">Log in</a>
  </section>
</div>