<div class="home-container">
  <header class="home-container__header">
    <h2>Get your purchases under control!</h2>
    <p>Easily and efficiently manage your company's purchases.</p>
  </header>
  <section class="home-container__cta">
    <a class="home-container__cta__link" href="/companySignup">
      <i class="fas fa-building fa-lg home-container__cta__link__building-icon">
      </i>
      <i class="fas fa-plus fa-xs home-container__cta__link__plus-icon"></i>
      <span>Set up your Company account</span></a>
    <a class="home-container__cta__link" href="/userSignup"><i
        class="fas fa-user-plus fa-lg home-container__cta__link__user-icon"
      ></i><span>Sign up a user account</span></a>
    <a class="home-container__cta__link" href="/login"><i
        class="fas fa-right-to-bracket fa-lg home-container__cta__link__login-icon"
      ></i>
      <span>Log in</span>
    </a>
  </section>
</div>