<div class="home-container">

  <form class="home-container__form" action="/login" method="get">
    <label class="home-container__form__label" for="company">Company</label>
    <input type="text" name="company" id="company" />
    <label class="home-container__form__label" for="email">Email</label>
    <input type="email" name="email" id="email" />
    <label class="home-container__form__label" for="firstName">First name</label>
    <input type="text" name="firstName" id="firstName" />
    <label class="home-container__form__label" for="lastName">Last name</label>
    <input type="text" name="lastName" id="lastName" />
    <label class="home-container__form__label" for="password">Password</label>
    <input type="password" name="password" id="password" />
    <button class="home-container__form__log-in-button">Log in</button>
  </form>

  <p class="home-container__signup-question">Don't have an account yet?</p>

  <button class="home-container__signup-button" type="button">Create a new
    account</button>
</div>