<div class="home-container">
  <header class="home-container__header">
    <h2>Get your costs under control!</h2>
    <p>Easily and efficiently manage your company's expenses.</p>
  </header>
  <section class="home-container__cta">
    <a class="home-container__cta__link" href="/companySignup">Set up your Company account</a>
    <a class="home-container__cta__link" href="/userSignup">Sign up a user account</a>
    <a class="home-container__cta__link" href="/login">Log in</a>
  </section>
</div>