<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/layout.css" />
    <link rel="stylesheet" href="/stylesheets/{{style}}" />
  </head>

  <body>
    <header class="header">
      <h1 class="header__title">ERP CostManager</h1>
    </header>
    {{{body}}}

    <footer class="footer">
      <p class="footer__paragraph">&copy; 2023 Henrique Mazzoleni &amp; Thor
        Löfgren</p>
    </footer>
    <script src="/js/script.js"></script>
  </body>

</html>