.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  background-color: var(--light-main-color);
}

.home-container__header {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #fff;
}

.home-container__header h2 {
  margin: 40px auto 25px;
  width: 70%;

  text-align: center;
  font-size: 2rem;
}

.home-container__header p {
  width: 60%;
  margin-bottom: 25px;

  text-align: center;
}

.home-container__cta {
  display: flex;
  flex-direction: column;
}

.home-container__cta__link {
  position: relative;

  margin: 5px 20px;
  padding: 20px 50px;

  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: var(--light-color);
  color: var(--main-color);
}

.home-container__cta__link__building-icon {
  position: absolute;
  top: 27px;
  left: 15px;
}

.home-container__cta__link__plus-icon {
  position: absolute;
  top: 26px;
  left: 32px;
}

.home-container__cta__link__user-icon {
  position: absolute;
  top: 27px;
  left: 15px;
}

.home-container__cta__link:last-child {
  background-color: var(--highlight-color);
  color: var(--secondary-highlight-color);
}
.home-container__cta__link__login-icon {
  position: absolute;
  top: 28px;
  left: 15px;
}

@media (min-width: 800px) {
  .home-container__header h2 {
    width: 100%;

    font-size: 2.5rem;
  }

  .home-container__header p {
    width: 100%;
    font-size: 16px;
  }

  .home-container__cta {
    width: 450px;
  }

  .home-container__cta__link {
    margin: 10px 20px;
  }
}
