body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 20px;
  width: 100vw;
}

.nav__title {
  padding-left: 20px;

  font-size: 18px;
}

.footer {
  position: relative;
}

.footer__paragraph {
  margin: 0;
  padding: 10px 10px 10px 20px;
}

.nav__dropdown-box__logout-form__btn {
  background-color: #000fff;
  color: #fff;
}
