:root {
  --dark-main-color: #400d40;
  --bs-primary-rgb: 64, 13, 64;
  --light-main-color: #4a154b;
  --bs-secondary-rgb: 74, 21, 75;
  --primary-btn-color: #0073e6;
  --highlight-color: #ecb22e;
  --bs-warning-rgb: 236, 178, 46;
  --bs-btn-active-bg: #0073e6;
  --bs-btn-bg: #0073e6;
  --secondary-highlight-color: #1264a3;
  --bs-info-rgb: 18, 100, 163;
  --dark-color: #222;
  --light-color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--ligth-main-color);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.nav {
  display: none;
}

.hamburger-menu a {
  padding: 5px 2px 5px 0;
}

.hamburger-menu__dropdown {
  padding-left: 16px;
}

nav.navbar.navbar-dark {
  --bs-navbar-color: rgba(255, 255, 255, 1);
  --bs-navbar-disabled-color: rgba(255, 255, 255, 0.8);
  --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.7);
  --bs-navbar-toggler-focus-width: 1px;
}

.nav__title {
  padding-left: 20px;
  font-size: 18px;
  color: var(--light-color);
}

.footer {
  position: relative;

  background-color: var(--dark-main-color);
}

.footer__paragraph {
  margin: 0;
  padding: 10px 10px 10px 20px;

  color: var(--light-color);
}

@media (min-width: 800px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 20px 0 0;
    width: 100vw;

    background-color: var(--light-main-color);
  }

  .nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .hamburger-menu {
    display: none;
  }

  .nav__title {
    font-size: 24px;
  }
}
