.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.signup-container__form {
  display: flex;
  flex-direction: column;

  padding: 10px;
  width: 300px;
}

.signup-container__form__label {
  padding: 5px 0;
}

.signup-container__form__log-in-button {
  margin-top: 15px;

  cursor: pointer;
}
