.edit-purchase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  background-color: var(--light-main-color);
}

.edit-purchase-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 20px 20px 0 0;
  width: 335px;

  background-color: var(--light-main-color);
}

.edit-purchase-nav__link {
  text-decoration: none;

  color: #fff;
}

.inactive-link {
  padding: 5px 10px;

  border: 1px solid;
  border-radius: 10px;
}

.requested-purchases {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.requested-purchase__title {
  padding-bottom: 5px;
  width: 335px;

  color: #fff;
  border-bottom: 1px solid var(--secondary-highlight-color);
}

.collapse-container {
  margin-top: 10px;
  width: 335px;
}

.collapse-container__btn {
  width: 335px;
  cursor: default;
}

.collapse-container__inside {
  width: 335px;
  margin: -5px 0 20px 0;
}

.purchase-request-edit-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.purchase-request-edit-form__floating-input-container {
  width: 100%;
}

.form-floating > .form-control {
  height: 2.5rem;
  font-size: 0.9rem;
}

.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 1.9rem;
  padding-bottom: 0.8rem;
}

.purchase-request-edit-form__btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.purchase-request-edit-form__btn {
  margin: 10px 20px 0 0;
}

@media (min-width: 800px) {
  .edit-purchase-nav {
    justify-content: space-between;
    width: 500px;
  }

  .requested-purchase__title {
    width: 500px;
  }

  .collapse-container {
    width: 500px;
  }

  .collapse-container__btn {
    width: 500px;
  }

  .collapse-container__inside {
    width: 500px;
  }
}
