.admin-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 20px 20px 0 0;
  background-color: var(--light-main-color);
}

.admin-nav__link {
  text-decoration: none;
  color: #fff;
}

.active-link {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--primary-btn-color);
  color: #ffff;
}

.company-users {
  flex-grow: 1;
  /* color: #fff; */
  background-color: var(--light-main-color);
}

.company-users__title {
  margin: 20px 0 0 20px;
  padding-bottom: 5px;
  color: #fff;
  border-bottom: 1px solid #0000ff;
}

.company-users__filter-title,
.company-users__filter-form {
  margin: 10px 0 0  20px;
  color: #ffff;
}

.company-users__filter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
  gap: 10px;
  max-width: 330px;
}

.collapse-container {
  margin-top: 30px;
}

.collapse-container__btn {
  width: 335px;
  margin-left: 20px;
}

.collapse-container__inside {
  width: 335px;
  margin: 10px 0 20px 20px;
}

.user-edit-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}

.user-edit-form p {
  margin: 0;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 7px;
}