.user-container {
  flex-grow: 1;
}

.user-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin: 20px 20px 0 0;
}

.user-nav__link {
  text-decoration: none;
}

.active-link {
  padding: 5px 10px;

  border-radius: 10px;
  background-color: #0000ff;
  color: #ffff;
}

.requested-purchases {
  margin-top: 20px;
}

.collapse-container {
  margin-top: 30px;
}

.collapse-container__btn {
  margin-left: 20px;
}

.collapse-container__inside {
  width: 300px;
  margin: 10px 0 20px 20px;
}

.purchase-request-edit-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.purchase-request-edit-form__btn {
  margin: 10px 20px 0 0;
}

.requested-purchases__title {
  margin-left: 20px;
  padding-bottom: 5px;
  width: 190px;

  border-bottom: 1px solid #0000ff;
}
