.user-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 20px 20px 0 0;
  background-color: var(--light-main-color);
}

.user-nav__link {
  text-decoration: none;
  color: #fff;
}

.active-link {
  padding: 5px 10px;

  border-radius: 10px;
  background-color: var(--primary-btn-color);
}

.inactive-link {
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 10px;
}

.user-container {
  flex-grow: 1;
  background-color: var(--light-main-color);
  padding: 1rem;
}

.user-container__title {
  margin: 10px;
  padding-bottom: 5px;
  color: #fff;
  border-bottom: 1px solid var(--secondary-highlight-color);
}

.user-container img {
  box-shadow: 0 0 3px 3px var(--secondary-highlight-color);
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.form-floating > label {
  margin-top: -0.5rem;
  padding: 1rem .5rem;
}

.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-control:focus~label {
  transform: scale(.80) translateY(-0.20rem) translateX(0.15rem);
}

.form-floating > .form-control{
  height: 2rem;
  padding: 0.25rem;
  line-height: 1;
  font-size: .8rem;
}

.form-floating>.form-control:focus,
.form-floating>.form-control:not(:placeholder-shown){
  padding-top: 1.625rem;
  padding-left: 0.6rem;
  height: 2rem;
}

.user-edit-form input[type="file"]:not(:placeholder-shown) {
  padding: 1.625rem 0.6rem 1rem;
}

.card-body {
  flex: 0 0 auto;
}

form {
  margin-block-end: 0;
}