<nav class="user-nav">
  <a class="user-nav__link active-link" href="/purchase-portal">Purchase Portal</a>
  <a class="user-nav__link inactive-link" href="/profile">Profile</a>
</nav>
{{#with currentUser}}
  <div class="user-container">
    <h4 class="user-container__title">Hello, {{firstName}} {{lastName}}</h4>
    <p>Your user must be approved before you can access the purchase portal.</p>
    <p>Please contact your service administrator.</p>
  </div>
{{/with}}