<nav class="user-nav" >
  <a class="user-nav__link active-link" href="/user">Start</a>
  <a class="user-nav__link" href="/profile">Profile</a>
  <a class="user-nav__link" href="/admin">Admin</a>
</nav>
<p class="collapse-container">
  <a
    class="btn btn-primary new-purchase-collapse-btn"
    data-bs-toggle="collapse"
    href="#collapseExample"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    Request new purchase
  </a>

</p>
<div class="collapse collapse-container__inside" id="collapseExample">
  <div class="card card-body">
    <form
      class="new-purchase-form"
      action="/user/newPurchase"
      method="post"
    >
      <label for="item">Item</label>
      <input type="text" name="item" id="item" />
      <label for="cost">Cost</label>
      <input type="text" name="cost" id="cost" />
      <label for="reason">Reason for request:</label>
      <textarea name="reason" id="reason" cols="24" >
      </textarea>
      <button class="new-purchase-form__btn">Submit</button>
    </form>
  </div>
</div>

<section class="requested-purchases">
  <h4 class="requested-purchases__title">Purchase requests</h3>
  <div class="request-purchases__list">
    {{!-- @TODO: Add {{#each}} helper to display all requested purchases in the db --}}
  </div>
</section>